.game-board {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin: auto;
}

.upload-btn{
    background-color:rgb(69, 132, 132) ;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 6px;
margin: 10px;
   &:hover{
    background-color: rgb(52, 99, 99);
   } 
    
}
